<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Registration</title>
<link rel="icon" href="/static/images/logo.svg" type="image/x-icon"/>
<link rel="stylesheet" href="{% static 'css/create_student.css' %}"> 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<!-- Navigation Bar -->
<nav>
<div class="container">
<div class="logo">
<img src="{% static 'images/logo.svg' %}" alt="Happy Grad Logo">
</div>
<ul class="nav-links">
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'login' %}">Login</a></li>
<li><a href="{% url 'services' %}">Services</a></li>
<li><a href="{% url 'documents' %}">Request</a></li>
<li><a href="{% url 'useful_links' %}">Links</a></li>
<li><a href="{% url 'join_the_team' %}">Join the team</a></li>
</ul>
</div>
</nav>

<div class="register-container">
<center><h1>Join the Team</h1></center>
<form method="post">
{% csrf_token %}
{{ user_form.as_p }}
{{ student_form.as_p }}
<button type="submit">Submit Application</button>
</form>
<p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</div>
</body>
<footer>
<div class="container">
<p>&copy; 2024 Happy Grad. All rights reserved.</p>
</div>
</footer>
</html>