<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request help</title>
    <link rel="stylesheet" href="{% static 'css/documents.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'documents' %}">Documents</a></li>
                <li><a href="{% url 'useful_links'%}">Useful Links</a></li>
                <li><a href="{% url 'join_the_team'%}">Join the team</a></li>
            </ul>
        </nav>
        <div class="form-container">
            <h1>Request</h1>
            <form method="post" action="{% url 'documents' %}" enctype="multipart/form-data">
                {% csrf_token %}
                
                {{ form.as_p }}
               <!---- <div class="form-group"><form method="post" enctype="multipart/form-data">
                   
                <div class="form-group">
                    <label for="service_type">Service Type</label>
                    <select id="service_type" name="service_type">
                        <option value="0">Education</option>
                        <option value="1">Tutorial</option>
                        <option value="2">Research Ass.</option>
                        <option value="3">Young Pro</option>
                        <option value="4">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field">Subject/Field</label>
                    <input type="text" id="field" name="field">
                </div>
                <div class="form-group">
                    <label for="due_date">Due Date</label>
                    <input type="text" id="due_date" name="due_date" placeholder="DD/MM/YY">
                </div>
                <div class="form-group">
                    <label for="description">Description of requirement</label>
                    <textarea id="description" name="description"></textarea>
                </div>
                <div class="form-group">
                <label for="file">Choose a file:</label>
                <input type="file" id="file" name="file">
                </div>-->
                <button type="submit">Submit</button>
            </form>
        </div>
        <footer>
            <p>Become a <strong>Happy Grad</strong> today</p>
        </footer>
    </div>
</body>
</html>
