<!--<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request a service</title>
    <link rel="stylesheet" href="{% static 'css/documents.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <div class="logo">
        <img src="{% static 'images/logo.svg' %}" alt="Happy Grad Logo" style="width: 100px;">
    </div>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.svg' %}" alt="Happy Grad Logo" style="width: 100px;">
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'documents' %}">Documents</a></li>
                <li><a href="{% url 'useful_links'%}">Useful Links</a></li>
                <li><a href="{% url 'join_the_team'%}">Join the team</a></li>
            </ul>
        </nav>
        <div class="form-container">
            <h1>Request</h1>
            <form method="post" action="{% url 'documents' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            {% endif %}
        <footer>
            <div class="container">
                <div class="social-links">
                    <a href="#"><img src="{% static 'images/icon-instagram.png' %}" alt="Instagram"></a>
                    <a href="#"><img src="{% static 'images/icon-facebook.png' %}" alt="Facebook"></a>
                    <a href="#"><img src="{% static 'images/icon-twitter.png' %}" alt="twitter"></a>
                </div>
                <p>&copy; 2024 Happy Grad. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request a service</title>
    <link rel="icon" href="/static/images/logo.svg" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/documents.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.svg' %}" alt="Happy Grad Logo" style="width: 100px;">
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'documents' %}">Request</a></li>
                <li><a href="{% url 'useful_links'%}">Useful Links</a></li>
                <li><a href="{% url 'join_the_team'%}">Join the team</a></li>
            </ul>
        </nav>
        <div class="form-container">
    <h1 id="heading">Document</h1>
            <form method="post" action="{% url 'documents' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </div>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <footer>
            <div class="container">
                <div class="social-links">
                    <a href="#" class="social-icon facebook-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-icon twitter-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon insta-icon"><i class="fab fa-instagram"></i></a>
                </div>
                <p>&copy; 2024 Happy Grad. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>
