<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="icon" href="/static/images/logo.svg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="container">
            <div class="logo">
                <img src="{% static 'images/logo.svg' %}" alt="Happy Grad Logo" style="width: 85px;">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'documents' %}">Request</a></li>
                <li><a href="{% url 'useful_links'%}"> Useful Links</a></li>
                <li><a href="{% url 'join_the_team'%}">Join the team</a></li>
            </ul>
        </div>
    </nav>

    <!-- Header Section -->
    <header>
        <div class="container">
            <img src="{% static 'images/grad.png' %}" alt="Happy Grad home picture" class="centered-img">
            <h1>Welcome to Happy Grad</h1>
            <p>Your go-to place for amazing services.</p>
            <a href="{% url 'join_the_team'%}" class="btn">Get Started</a>
        </div>
        {% if request.user.is_authenticated %}
    <p>Welcome, {{ request.user.first_name }}!</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
{% else %}
    <p>Take control of today</p>
{% endif %}
    </header>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="social-links">
                <a href="#" class="social-icon facebook-icon"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon twitter-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon insta-icon"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="copy_right">&copy; 2024 Happy Grad. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
