<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/static/images/logo.svg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="logo">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}" alt="Happy Grad Logo" style="width: 85px;"></a>
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'documents' %}">Request</a></li>
                <li><a href="{% url 'useful_links' %}">Useful Links</a></li>
                <li><a href="{% url 'join_the_team' %}">Join the team</a></li>
            </ul>
        </nav>
        <div class="login-container">
            <h1>Login</h1>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <button type="submit">Login</button>
            </form>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <p>Don't have an account? <a href="{% url 'join_the_team' %}">Register here</a></p>
        </div>
        <footer>
            <div class="container">
                <p>&copy; 2024 Happy Grad. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>
