<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Grad - Our Services</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Happy Grad Logo">
            <p>Take control of today</p>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
                <li><a href="{% url 'services' %}">services</a></li>
                <li><a href="{% url 'documents' %}">Request</a></li>
                <li><a href="{% url 'useful_links' %}">Useful Links</a></li>
                <li><a href="{% url 'join_the_team' %}">Join the team</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Our Services</h1>
        <div class="services">
            <div class="service-item">
                <img src="educational.jpg" alt="Educational Services">
                <h2>Educational Services</h2>
                <p>Tutorials</p>
                <p>Research Assistance</p>
            </div>
            <div class="service-item">
                <img src="professional.jpg" alt="Young Professional Services">
                <h2>Young Professional Services</h2>
                <p>CV Writing</p>
                <p>twitter Profile</p>
            </div>
            <div class="service-item">
                <img src="other.jpg" alt="Other Services">
                <h2>Other</h2>
                <p>Find a Mentor</p>
                <p>Negotiation skills</p>
            </div>
        </div>
    </main>
     <!-- Footer section -->
     <footer>
        <div class="container">
            <ul class="social-icons">
                <li><a href="#" class="social-icon facebook"></a></li>
                <li><a href="#" class="social-icon twitter"></a></li>
                <li><a href="#" class="social-icon instagram"></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
