<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Grad - Our Services</title>
    <link rel="icon" href="/static/images/logo.svg" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.svg' %}" alt="Happy Grad Logo" style="width: 85px;">
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'documents' %}">Request</a></li>
                <li><a href="{% url 'useful_links' %}">Useful Links</a></li>
                <li><a href="{% url 'join_the_team' %}">Join the team</a></li>
            </ul>
        </nav>
        <main>
            <h1>Our Services</h1>
            <div class="services">
                <div class="service-item">
                    <img src="{% static 'images/educational.jpg' %}" alt="Educational Services">
                    <h2>Educational Services</h2>
                    <p>Tutorials</p>
                    <p>Research Assistance</p>
                </div>
                <div class="service-item">
                    <img src="{% static 'images/professional.jpg' %}" alt="Young Professional Services">
                    <h2>Young Professional Services</h2>
                    <p>CV Writing</p>
                    <p>Twitter Profile</p>
                </div>
                <div class="service-item">
                    <img src="{% static 'images/other.jpg' %}" alt="Other Services">
                    <h2>Other</h2>
                    <p>Find a Mentor</p>
                    <p>Negotiation Skills</p>
                </div>
            </div>
        </main>
        <footer>
            <div class="container">
                <div class="social-links">
                    <a href="#" class="social-icon facebook-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="social-icon twitter-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon insta-icon"><i class="fab fa-instagram"></i></a>
                </div>
                <p>&copy; 2024 Happy Grad. All rights reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>
