body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-image: url('/static/images/home_wallpaper.jpg'); /* Add your background image */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-bottom: 5px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* White background with transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navigation */
nav {
    background-color: #062d3d;
    color: #fff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Form Section */
.form-container {
    text-align: center;
    padding: 50px 0;
}

.form-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #062d3d;
}

.form-container p {
    font-size: 1.2em;
    color: #333;
}

.form-container .button-group a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #062d3d;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-weight: bold;
}

.form-container .button-group a:hover {
    background-color: #0055a5;
}

/* Footer */
footer {
    background-color: #062d3d;
    color:  #062d3d;
    text-align: center;
    padding: 20px 0;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .social-icons li {
    margin: 0 10px;
}

footer .social-icons a {
    
    font-size: 24px;
    transition: opacity 0.3s;
}

footer .social-icons a:hover {
    opacity: 0.7;
}
.facebook-icon{
    color: #074075;

}
.facebook-icon:hover{
color: #01274b;
}

/* Twitter Icon Specific Styling */
.twitter-icon {
    color: #1DA1F2;
}

.twitter-icon:hover {
    color: #0d95e8;
}

.insta-icon{
    color: rgba(128, 0, 128, 0.733)
}
.insta-icon:hover{
   
    color:  rgb(200, 255, 0)
}