body {
    font-family: 'Roboto', sans-serif;
    background-color: #faf0d1;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #003366;
    color: white;
    padding: 10px 0;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav .nav-links li {
    margin: 0 15px;
}

nav .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav .nav-links a:hover {
    text-decoration: underline;
}

.register-container {
    background-color: #fff8e1;
    border: 1px solid #003366;
    border-radius: 10px;
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h1 {
    font-size: 36px;
    color: #003366;
    margin-bottom: 20px;
}

.register-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-container form p {
    margin-bottom: 20px;
    width: 100%;
}

.register-container form button {
    background-color: #003366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.register-container form button:hover {
    background-color: #002244;
}

.register-container p {
    margin-top: 20px;
}

.register-container a {
    color: #003366;
    text-decoration: none;
}

.register-container a:hover {
    text-decoration: underline;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .container {
    margin: 0 auto;
}
